* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zilla Slab', serif;
}

.navcon a {
	text-decoration: none;
	color: #008000;
}

.navbot a {
	text-decoration: none;
	color: white;
}

.navbot {
	background-color: ;
	border-bottom:;
	height: ;
	line-height: ;
	text-align: center;	
}

.nav-item2 {
	display: inline-block;
	padding: 1px 10px;
	color: #006400;
}

#home {
	background-image: url(./assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg);
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	padding-bottom: 30%;
	padding-top: 15%; 
}

/*h1 {
	font-size: 70px;
}
*/
#aboutme {
	text-align: center;
	background-image: url(./assets/images/images.jpg);
	padding:;
}

html {
	scroll-behavior: smooth;
}

.pic {
	border-radius: 50%;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	max-width: 50%;
  	max-height:;
}

.aboutdesc {
	font-size: 20px;
}

.centerstory {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.projects {
	color: white;
}

.cons {
	text-align: center;
}

.footer {
	background-color: #33485F;
}

.cic {
	background-color: #2a3b4e;
	border-radius: ;
}

.fa {  
  	width: auto;
  	padding: 20px;
  	font-size: 25px;
  	text-align: center;
  	text-decoration: none;
  	margin: 5px 2px;
  	color: white;
  	border-radius: 50%; 
  }

.fa:hover {
	opacity: 0.7;
}

.fa-linkedin {
  	background: #007bb5;
}

.fa-facebook {
	background: #3B5998;
}

.fa-youtube {
	background: #bb0000;
}

.navi:hover {
	opacity: 0.7;
}

#face {
	padding: 20px 25px;
}

.footname {
	font-size: 25px;
}

body {
	background-color: red;
}

.navitop {
	background-color: ;
	color: white;
	margin: 0px 20px;
	border-radius: 20px;
	padding: 5px;
}